@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

.dogGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 600px);
    gap: 40px;
    padding: 40px;
    justify-content: center; 
}

.homeBg {
    background-image: url('../../Images/Background.png');
}


.titleHome {
    text-shadow: rgba(255, 0, 0, 0.25) 4px 4px 15px;;
    margin-top: 0;
    font-family: "Oregano", cursive;
    font-size: 400%;
    margin-bottom: 20px;
}