@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

.landing {
    background-image: url('../../Images/dogsbackground.jpg');
    height: 100vh;
    max-width: 100vw;
    margin-top: 0;
    margin-bottom: 0;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    font-family: 'Walter Turncoat', cursive;
    font-size: 200%;
    margin-top: 0;
    color: black;
    margin-left: 5%;
    padding-top: 1%;
}


.btn {
  background-color: #DBD0C0;
  border-radius: 15px;
  color: #000000;
  cursor: pointer;
  font-family: 'Walter Turncoat', cursive;
  font-size: 30px;
  transition-duration: 0.4s;
  width: 12%;
  margin-left: 5%;
  margin-top: 0;
}

.textBtn {
  text-align: center;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  color: white;
  background-color: #321F28;
}


.madeBy {
    font-family: 'Walter Turncoat', cursive;
    font-size: 150%;
    color: black;
    margin-right: 40%;
    margin-top: 38%;
}