@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.landing {
    background-image: url('../../Images/LandingImage.jpg');
    height: 100vh;
    max-width: 100vw;
    margin-top: 0;
    margin-bottom: 0;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    font-family: 'Staatliches';
    font-size: 300%;
    margin-top: 0;
    margin-left: 20px; 
}

/* 
.btn {
    background-color: #F6D167;
    border-color: #FFF7AE;
    border-radius: 15px;
    font-family: 'Staatliches';
    font-size: 150%;
    width: 10rem;
    height: 3rem;
} */

.btn {
  background-color: #E0C097;
  border-radius: 15px;
  color: #000000;
  cursor: pointer;
  font-family: 'Staatliches';
  font-size: 40px;
  transition-duration: 0.4s;
  width: 18%;
  margin-right: 620px;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  color: rgb(56, 56, 56);
  background-color: #F3F0D7;
}


