@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

.pagination {
    display: flex;
    margin: 20px auto;
    padding: 20px;
    justify-items: center;
    justify-content: space-around;
    width: 75%;
  }
  
  .n {
    border-radius: 15%;
    height: 30px;
    background-color: #EDEDED;
    display: flex;
    border: solid 2px #C89595;
    color: #C89595;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 0px 1px #FCD8D4;
    transition: 0.5s;
  }
  
  .n:hover {
    cursor: pointer;
    background-color: transparent;
    color: #EDEDED;
    border: solid 2px #EDEDED;
  }

  .btn {
    cursor: pointer;
  }