@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

.cards {
    backdrop-filter: blur(1px);
    width: 500px;
    height: 600px;
    border: solid 2px;
    border-color: #583D72;
    border-radius: 15px;
    transition-duration: 0.4s;
    margin-left: 40px;
}

.cards:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    background-color: #F6DFEB;
  }

  .name {
    font-family: 'Comfortaa', cursive;
    font-size: 200%;
    margin: 5px;
  }

  .temps {
    font-family: 'Comfortaa', cursive;
    font-size: 110%;
  }

  .w {
    font-family: 'Comfortaa', cursive;
    font-size: 90%;
    margin-top: 5px
  }

.image {
    border-radius: 30px;
}